.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 15px;
  text-decoration: none;
}

.App-header a{
  color: white;
  text-decoration: none;
}

.App-header a:hover{
  color: rgb(66, 39, 219);
  text-decoration: none;
}

.App-header li {
  text-decoration: none;
}


